body{
    margin: 0%;
} 

h1 {
    float: left;
    margin-right: 2%;
}

nav div h1{
    font-size: 34pt;
    padding-left: 3%;
}

nav div {
    margin-top: 1%;

}

nav div ul {
    /* float: left; */
    /* margin-right: 0px; ; */
    right: 0%;
    margin-left: 60%;
}

nav div ul li {
    /* float: left; */
    display: inline-block;
    margin-right: 0px; ;
}

nav div ul li a {
    /* color: #852B2A; */
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin-right: 0px;
    font-size: 11pt;
    margin-top: 2%;
    float: right;

}

ul li a:hover{
    color: #063146;
    font-size: 13pt;
}


.btn-outline-success{
    color: #852B2A;
    border-color:#852B2A;
}

.btn-outline-success:hover{
    color: white;
    border-color:white;
    background-color: #852B2A;
}

.Title{
    color:#D88D56;
    font-size: 14pt;
    font-weight: 650;
    font-family: "Lobster", sans-serif;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 10%;
}

.Title h1{
    margin-left: 40%;
    font-size: 36pt;
}

table{
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 1%;

    margin: auto;
}

tr{
    width: 100%;

}

.imgBlock{
    width: calc(70vw/3);
    height: calc(70vw/3);
    background-color: lightgrey;
    cursor: pointer;
}


img{
    width: calc(70vw/3);
    height: calc(70vw/3);

}


.img-with-text
{
    text-align:justify;
}

.img-with-text img
{
    display:block;
    margin:0 auto;
}

img:hover{
    border: 4px solid #063146;
    border-radius: 2%;
}


.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    background-size: cover;

}

.container a:hover{
    opacity: 0.7;
    transition-duration: 0.5s;
    cursor:pointer;
}